<style>
.field {
  display: flex;
  flex: 1 1 0;
}

.field .label {
  display: flex;
  flex: 0 0 auto;
}

.field .value {
  display: flex;
  flex: 1 1 0;
}

a {

}

</style>
<p>
  Booklava feedback
</p>
<div class='field'>
  <div class='label'>
    Message:
  </div>
  <pre class='value'>
    {{ message }}
  </pre>
</div>
<div class='field'>
  <div class='label'>
    Time:
  </div>
  <div class='value'>
    {{ time }}
  </div>
</div>
<div class='field'>
  <div class='label'>
    Stores:
  </div>
  <div class='value'>
    {{ stores }}
  </div>
</div>